/* style modal communication */
.modal-communication {
    max-width: 27.5rem;
    max-height: 7.813rem;
    background-color: var(--gray900);
    border-radius: var(--bd-radius-4);
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.2);
    padding: 1.25rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    bottom: 40px;
    right: -100%;
    animation: showModalInfor 6000ms ease-in-out forwards;
}

.container-message {
    display: flex;
    gap: 1.25rem;
}

.msg {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--bd-radius-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-sucess {
    background-color: var(--sucess100);
}

.circle-fail {
    background-color: var(--alert100);
    text-align: start;
}



/* style modal user*/

.login-user {
    position: relative;
}

.profile {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--brand100);
    border-radius: var(--bd-radius-1);
    overflow: hidden;
}

.profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-user {
    width: 13.438rem;
    height: 7.25rem;
    background-color: var(--gray900);
    box-shadow: 0 0.25rem 2.5rem -0.75rem rgba(0, 0, 0, 0.25);
    border-radius: var(--bd-radius-4);
    position: absolute;
    top: 40px;
    left: -175px;
    display: none;
    animation: showModal 1.3s ease;
    transition: 3.5s ease;
}

.userName {
    height: 50%;
    padding: 1.375rem 1rem;
}

.logout {
    background-color: var(--gray900);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1rem;
    border-radius: 0 0 var(--bd-radius-4) var(--bd-radius-4);
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;   
}

.logout:hover {
    background-color: var(--gray700);
    opacity: 1;
}

.login-user:hover .modal-user {
    display: inline-block;
}


/* style modal*/

.container-modal {
    background-color: var(--opacity);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.main-modal {
    width: 50rem;
    max-height:44.625rem;
    background-color: var(--gray900);
    padding: 2rem 1.5rem;
    border-radius: var(--bd-radius-2);
    position: relative;
    transition: 0.5s ease;
    animation: showModalMain 1s ease;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.close-modal {
    width: 2rem;
    height: 2rem;
    border-radius: var(--bd-radius-4);
    padding: 0.25rem 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: "Nunito";
    font-size: var(--font-size-5);
    font-weight: 700;
    color: var(--gray400);
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    cursor: pointer;
}

/* modal create post */

.form-create-post {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.container-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-buttons-create {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}


/* modal delete */
.deletion-confirmation-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-buttons-delete {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

/* modal edit */

.form-edit-post {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


@keyframes showModalMain {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}



@keyframes showModal {
    0%{
        left: 0;
        opacity: 0;
    }

    100% {
        left: -175px;
        opacity: 1;
    }
}

@keyframes showModalInfor {
    0%{
        right: -100%;
    }
    25% {
        right: 10px;
    }
    50%{
        right: 10px;
    }
    100%{
        right: -100%;
    }
}