.title-1 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
}

.title-1-semibold {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.title-2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}

.title-2-semibold {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
}

.title-3 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.title-3-semibold {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
}

.text-1 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
}

.text-1-medium {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
}

.text-1-semibold {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-1);
}

.text-2 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
}

.text-2-medium {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-2);
}

.text-2-bold {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-1);
}

